<div class="list-group">
  <% @venues.each do |v| %>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading"><%= v["foursquareVenueId"] %></h4>
      <p class="list-group-item-text">10</p>
    </a>
  <% end %>
</div>
